# Ambiente virtual
.venv/

# Caches do Python e Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Modelos treinados
notebooks/modelo_diabetes.pkl